.menu-border {
    background-image: url("kepek/flappybird-bg.png");
    background-size: 180%;
    height: 500px;
    width: 500px;
    border-radius: 30px;
    margin: auto;
    border: 2px solid #6B6B6B;
    color: white;
    text-align: center;
    margin-top: 200px;
}

.buttons {
    font-size: 1.4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.menu-item {
    margin: 30px 0;
}
.menu-item a {
    color: #585858;
    font-weight: bold;
    text-decoration: none;

}
body {
    background-image: url("kepek/background.png");
    font-family: cursive;
}
.game-menu{
    border-bottom: 2px solid #6B6B6B;
}
.settings-menu {
    height: 600px;
    width: 700px;
    border: 2px solid #6B6B6B;
    border-radius: 30px;
    margin: auto;
    text-align: center;
    margin-top: 200px;
    background-image: url("kepek/flappybird-bg.png");
    background-size: 160%;
}
.settings-menu-head {
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
    border-bottom: 2px solid #585858;
}
.settings-menu-item {
    font-size: 1.5rem;
    font-weight: bold;
}

#myInput {
    background: none;
    border: none;
    text-align: center;
}
.item-section {
    margin: 30px;
}
.item-section label,input {
    margin: 0 60px;
}
input {
    font-size: 1.1rem;

}
#myInput:focus {
    border: none;
}
.gombok button {
    background: none;
    border: none;
    color: #313131;
}

.number {
    display: flex;
    margin-right: 70px;
    color: #313131;
}
.settings-menu-item-2 {
    display: flex;
    justify-content: space-around;
    margin: 0 -45px;
    margin-top: 60px;
    
}
#priority {
    background: none;
    border: none;
}
option {
    background-color: transparent;
}
.menu-3 {
    display: flex;
    justify-content: space-around;
    margin-top: 60px;
}
.menu-3 label {
    margin: 0 -75px;
}
.volume-form {
    display: flex;
    justify-content: space-around;
    margin-top: 60px;
}
.volume-2 {
    color: #313131;
}
.volume label {
    margin-left: -60px;
}

#volumeControl {
    position: fixed;
    right: 450px;
    top: 596px;
}