.menu-border {
    background-image: url("kepek/flappybird-bg.png");
    background-size: 180%;
    height: 500px;
    width: 500px;
    border-radius: 30px;
    margin: auto;
    border: 2px solid #6B6B6B;
    color: white;
    text-align: center;
    margin-top: 200px;
}

.buttons {
    font-size: 1.4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.menu-item {
    margin: 30px 0;
}
.menu-item a {
    color: #585858;
    font-weight: bold;
    text-decoration: none;

}
body {
    background-image: url("kepek/background.png");
    font-family: cursive;
}
.game-menu{
    border-bottom: 2px solid #6B6B6B;
}