header {
    text-align: center;
}

.active {
    transition: ease-in-out;
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}
.disabled {
    visibility: hidden;
    width: 100%;
    height: 0%;
}

#FinalScore {
    color: white;
    font-size: 75px;
}
#addedCoins img {
    width: 5%;
}
#addedCoins {
    color: white;
}

#RestartMenu .buttons {
    margin: 0px!important;
}

#gameContainer {
    width: 100%;
    border-radius: 0px;
    border: none;
    height: 500px;
    position: relative;
    overflow: hidden;
}

#TestButton {
    font-size: 50px;
    width: 200px;
    height: 100px;
}

#ScoreCounter {
    visibility: hidden;
    text-align: center;
    color: white;
    -webkit-text-stroke: 3px black;
    font-size: 75px;
}

#Countdown {
    position: absolute;
    visibility: hidden;
    top: 50%;
    left: 50%;
    color: white;
    -webkit-text-stroke: 3px black;
    transform: translate(-50%, -50%);
    font-size: 150px;
}

#PlayArea {
    image-rendering: pixelated;
    filter: blur(10px) brightness(0.2);
    -webkit-touch-callout: none;
    -webkit-user-select: none; 
    -khtml-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none;
    background-color: #70c5cd;
    position: relative;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
}


.paralex {
    position: absolute;
    width: 100%;
    background-repeat: repeat-x;
    background-size: 100% 100%;
}

#ground {
    top: 90%;
    z-index: 8;
    height: 150px;
    background-image: url("../kepek/game/ground.png");
    background-size: 30% 50%;
}

#backgroundTrees {
    top: 71%;
    height: 100px;
    background-image: url("../kepek/game/trees.png");
}

#backgroundBuildings {
    top: 65%;
    height: 100px;
    background-image: url("../kepek/game/buildings.png");
    background-size: 80% 60%;
}

#backgroundClouds {
    top: 57%;
    height: 100px;
    background-image: url("../kepek/game/clouds.png");
    background-size: 60% 100%;
}

#levelUpGIF {
    visibility: hidden;
    
    z-index: 10;
}

#playerConfetti {
    visibility: hidden;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 10;
}

#playerConfetti img {
    width: 200px;
    position: absolute;
    left: 0px;
    top: 0px;
    transform: translate(-25%, -25%);
}

#playerNameTag {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    color: rgba(255, 255, 255, 0.8);
    padding: 5px;
}

#levelUpGIF img {
    position: absolute;
    left: 50%;
    top: 8%;
    width: 25%;
    transform: translate(-50%, -50%);
}


footer {
    position: absolute;
    bottom: 0;
}

.collider {
    position: absolute;
}

.debugCollider {
    border: 1px solid yellowgreen;
}

.debugColliderColliding {
    border: 3px dashed red;
}

.objectSprite {
    display: block;
    margin: auto;
}

.object {
    position: absolute;
    width: 100px;
    height: 100px;
}



.gameTransitionInAnim {
    animation: filterOut 0.5s forwards;
}

.gameTransitionOutAnim {
    animation: filterOut 0.5s reverse;
}

.confettiAnim {
    animation: fadeIn 2s forwards;
}

.levelUpAnim {
    animation: fadeIn 3s forwards;
}

.shakeAnim {
    animation: shake 0.2s infinite;
    filter: blur(0px) brightness(1)!important;
}

@keyframes filterOut {
    0% {
        filter: blur(10px) brightness(0.2);
    }
    100% {
        filter: blur(0px) brightness(1);
    }
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}

@keyframes fadeIn {
    0% {opacity: 0;}
    50% {opacity: 1;}
    75% {opacity: 1;}
    100% {opacity: 0;}
}