header {
    text-align: center;
}

#gameContainer {
    width: 100%;
    height: 500px;
    border: 1px solid black;
    position: relative;
}

#PlayArea {
    width: 100%;
    height: 100%;
    position: relative;
}

footer {
    position: absolute;
    bottom: 0;
}

.collider {
    position: absolute;
}

.debugCollider {
    border: 1px solid yellowgreen;
}

.debugColliderColliding {
    border: 3px dashed red;
}

.objectSprite {
    display: block;
    margin: auto;
}

.object {
    position: absolute;
    width: 100px;
    height: 100px;
}