.menu-border h2 {
    margin: 0px;
}

.menu-border {
    background-image: url("../kepek/menu_bg.png");
    background-size: 100%;
    background-repeat: no-repeat;
    height: 500px;
    width: 500px;
    padding-top: 8px;
    margin: 0 auto;
    text-align: center;
}

.buttons {
    margin: 50px 0px;
    font-size: 1.4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.menu-item {
    margin: 20px 0;
    transition: ease-in-out 0.2s;
}
.menu-item a:hover {
    color: rgb(200, 200, 200);
    background-image: url("../kepek/button_bg_hover.png");
    padding: 20px;
}
.menu-item a {
    color: rgb(214, 214, 214);
    font-weight: bold;
    background-image: url("../kepek/button_bg.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center 15px;
    padding: 20px;
    text-decoration: none;
    
    
}
body {
    
    background-image: url("../kepek/background.png");
    font-family: cursive;
}
.game-menu{
    font-size: 1.15rem;
    color: white;
}
.settings-menu {
    height: 600px;
    width: 700px;
    border: 2px solid #6B6B6B;
    border-radius: 30px;
    margin: auto;
    text-align: center;
    background-image: url("../kepek/flappybird-bg.png");
    background-size: 160%;
    margin-top: 100px;
}
.settings-menu-head {
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
    border-bottom: 2px solid #585858;
}

.settings-menu-head a {
    color: black;
    text-decoration: none;
}

.settings-menu-item {
    font-size: 1.5rem;
    font-weight: bold;
}

#textInput {
    background: none;
    border: none;
    text-align: center;
    border-bottom: 1px solid black;
}
.item-section {
    margin: 30px;
}
.item-section label,input {
    margin: 0 60px;
}
input {
    font-size: 1.1rem;
    
}
#myInput:focus {
    border: none;
}
.gombok button {
    background: none;
    border: none;
    color: #313131;
}

.number {
    display: flex;
    margin-right: 70px;
    color: #313131;
}
.settings-menu-item-2 {
    display: flex;
    justify-content: space-around;
    margin: 0 -45px;
    margin-top: 60px;
    
}
#priority {
    background: none;
    border: none;
    font-size: 1.2rem;
}
option {
    background-color: transparent;
}
.menu-3 {
    display: flex;
    justify-content: space-around;
    margin-top: 60px;
    
}
.menu-3 label {
    margin: 0 -75px;
}
.volume-form {
    display: flex;
    justify-content: space-around;
    margin-left: 15px;
    margin-top: 60px;
}

.jump {
    display: flex;
    justify-content: space-around;
    margin-top: 60px;
    margin-left: 20px;
}

.save-button {
    background: none;
    border: none;
    font-size: 1.5rem;
    font-weight: bold;
    font-family: cursive;
}

.arrow {
    margin: 0 20px;
}
.gombok2 {
    margin: 0 50px;
}

.fa {
    background: none;
    border-radius: 15px;
    height: 30px;
    width: 30px;
}
.settings-menu-content {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
.settings-column {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 45%;
}
